@import url("./assets/types.css");

@font-face {
  font-family: Megapunch;
  src: url("./assets/Megapunch Italic.ttf");
}

@font-face {
  font-family: Retrokia;
  src: url("./assets/Retrokia Caps.ttf");
}

@font-face {
  font-family: "TT Lakes Neue";
  src: url("./assets/TT Lakes Neue Trial Bold.ttf");
}

* {
  --border-radius: 20px;
}

:root {
  font-size: 1.2em;
}

body {
  margin: 0;
  padding: 0;
  background-color: #DDD;
  color: white;
  font: 1rem monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  box-sizing: border-box;
  background-color: #112;
}

section {
  width: 440px;
  text-align: center;
  display: flex;
  padding: 1.2em;
  background: #223;
  box-shadow: 10px 20px 10px 10px #0008;
  border: 3px solid #FFF;
  border-radius: var(--border-radius);
  transition: 0.9s;
}

#main-section {
  position: fixed;
  z-index: 10;
}

#main-section > div {
  width: 100%;
}

#info-section {
  opacity: 0;
  flex-direction: column;
  gap: 0.3rem;
  max-height: 90%;
  overflow: auto;
  position: relative;
  padding-top: 0;
}

#info-section > div > div:first-child {
  font: 1rem "TT Lakes Neue";
  padding-top: 1.2rem;
  text-align: left;
  background: #223;
  position: sticky;
  top: 0;
}

button {
  cursor: pointer;
}

#buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.9rem;
}

#buttons > button {
  padding: 1em;
  background-color: yellow;
  font-weight: bold;
}

#randomize {
  font: 0.9rem "TT Lakes Neue";
  border-radius: var(--border-radius);
}

.neighbor-pokemon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .9rem;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FFF6;
  border-radius: var(--border-radius);
  padding: 1.2rem;
}

img {
  width: 310px;
  height: 310px;
  background-color: black;
  image-rendering: pixelated;
}

figcaption {
  padding-top: 0.8rem;
  display: flex;
  flex-direction: column;
  gap: 0.14rem;
}

figcaption > div:first-child {
  display: flex;
  flex-direction: column;
  gap: 0.17rem;
}

figcaption > div:nth-child(2) {
  font: 0.7rem Retrokia;
  text-shadow: black 0 0 2px;
  color: #A0A0B0;
  display: flex;
  justify-content: center;
  gap: 0.8rem;
}

#pokemon-name {
  font: 1.8rem Megapunch, sans-serif;
  text-shadow: black 0 0 6px;
  color: yellow;
}

#pokemon-name::after {
  color: #A0A0A0;
  font-size: 1.2rem;
  content: attr(pokeId);
}

#height::before {
  content: "Height: ";
}

#weight::before {
  content: "Weight: ";
}

#types {
  display: flex;
  gap: 3px;
  font-size: 0.8rem;
  justify-content: center;
}

span.type {
  padding: 3px 6px;
  border-width: 2px;
  border-style: solid;
  border-radius: 10px;
}

#show-info-section {
  color: #CCC;
  font: 0.7rem serif;
  background: none;
  border: none;
}

#show-info-section:hover {
  color: #FFF;
  transform: scale(120%);
}

#moves {
  font-size: 0.6rem;
  display: flex;
  flex-wrap: wrap;
  gap: 3px;
}

span.move {
  display: inline-block;
  padding: 0.1rem 0.2rem;
  border-radius: 3px;
  background-color: #457575;
}
