span.type.normal {
  background-color: #A8A878;
  border-color: #6D6D4E;
}
span.type.fire {
  background-color: #F08030;
  border-color: #9C531F;
}
span.type.water {
  background-color: #6890F0;
  border-color: #445E9C;
}
span.type.electric {
  background-color: #F8D030;
  border-color: #A1871F;
}
span.type.grass {
  background-color: #78C850;
  border-color: #4E8234;
}
span.type.ice {
  background-color: #98D8D8;
  border-color: #638D8D;
}
span.type.fighting {
  background-color: #C03028;
  border-color: #7D1F1A;
}
span.type.poison {
  background-color: #A040A0;
  border-color: #682A68;
}
span.type.ground {
  background-color: #E0C068;
  border-color: #927D44;
}
span.type.flying {
  background-color: #A890F0;
  border-color: #6D5E9C;
}
span.type.psychic {
  background-color: #F85888;
  border-color: #A13959;
}
span.type.bug {
  background-color: #A8B820;
  border-color: #6D7815;
}
span.type.rock {
  background-color: #B8A038;
  border-color: #786824;
}
span.type.ghost {
  background-color: #705898;
  border-color: #493963;
}
span.type.dragon {
  background-color: #7038F8;
  border-color: #4924A1;
}
span.type.dark {
  background-color: #705848;
  border-color: #49392F;
}
span.type.steel {
  background-color: #B8B8D0;
  border-color: #787887;
}
span.type.fairy {
  background-color: #EE99AC;
  border-color: #9B6470;
}
